<footer class="footer bg-dark py-3 mt-auto">
    <!-- use py-3 to make thicker, use mt-auto to make it go to bottom (along with changing the body classes on the boilerplate file)-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>